/* COUPONS LIST ===================================================================*/
.category-page div.coupons-content{
    background: transparent;
    box-shadow: none;
}
.middle.category-page{
    margin-top: 35px;
}
.middle.category-page .subTitle-hr{
    margin: 20px auto 40px 0;
}
/* HOVER ==================*/
/* EXCLUSIVE PAGE ==================*/
/* DEVICE ==================*/